 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 @layer base {
  
 }
body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uidesign{
  font-size: 148px;
  -webkit-text-stroke: 2px #B0E2C5;
  color: transparent;
}