---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-100">
    <Header />
    <main
      class="flex flex-col gap-10 pt-5 md:flex-row justify-center items-center"
    >
      <div
        class="flex flex-col justify-center items-center px-9 gap-3 md:w-1/3"
      >
        <h2
          class="text-2xl underline underline-offset-4 decoration-green-200 decoration-4 font-semibold"
        >
          Contact
        </h2>
        <p class="text-justify">
          Do you have an idea in mind? Want to work together? I'm always up for
          chatting, discussing creative projects, and seeing what we can create
          together! Whether it’s a website, a video, or boosting your online
          presence, don’t hesitate to send me a message. Fill out the form below
          or write to me directly at olivia.joseph.pro@gmail.com – I’ll get back
          to you quickly, I promise!
        </p>
      </div>

      <form
        action=""
        class="flex flex-col px-10 gap-3 justify-center items-center md:w-1/3"
      >
        <div class="md:flex w-full md:gap-3">
          <div class="flex flex-col w-full gap-1">
            <label for="fname">First Name</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              class="border-b-2 border-green-300 rounded-md h-8"
            />
          </div>

          <div class="flex flex-col w-full gap-1">
            <label for="lname">Last Name</label>
            <input
              type="text"
              id="lname"
              name="lastname"
              class="border-b-2 border-green-300 rounded-md h-8"
            />
          </div>
        </div>

        <div class="flex flex-col w-full gap-1">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="border-b-2 border-green-300 rounded-md h-8"
          />
        </div>

        <div class="flex flex-col w-full gap-1">
          <label for="subject">Subject</label>
          <select
            id="subject"
            name="subject"
            class="border-b-2 border-green-300 rounded-md h-8 w-full"
          >
            <option value="general">General Inquiries</option>
            <option value="media">Media & PR</option>
            <option value="work">Work with Me</option>
          </select>
        </div>

        <div class="flex flex-col w-full gap-1">
          <label for="desc">Description</label>
          <textarea
            id="desc"
            name="desc"
            class="border-b-2 border-green-300 rounded-md h-20 w-full"
          ></textarea>
        </div>

        <input
          type="submit"
          value="Submit"
          class="bg-green-300 w-24 rounded-md h-8"
        />
      </form>
    </main>
    <Footer />
  </body>
</html>
