---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-full px-6 flex flex-col items-center justify-center h-screen gap-10 text-sm"
  >
    <div class="flex flex-col items-center gap-3">
      <h2 class="text-xl underline decoration-green-200 decoration-4">
        Let's Talk!
      </h2>
      <p class="text-justify">
        Do you have an idea in mind? Want to work together? I'm always up for
        chatting, discussing creative projects, and seeing what we can create
        together! Whether it’s a website, a video, or boosting your online
        presence, don’t hesitate to send me a message. Fill out the form below
        or write to me directly at olivia.joseph.pro@gmail.com – I’ll get back
        to you quickly, I promise!
      </p>
    </div>

    <form action="" class="flex flex-col items-center w-full gap-2">
      <div class="w-full">
        <div class="flex flex-col gap-2">
          <label for="fname">First Name</label>
          <input
            type="text"
            id="fname"
            name="firstname"
            class="border-b-2 border-green-200 rounded-md h-8"
          />
        </div>

        <div class="flex flex-col">
          <label for="lname">Last Name</label>
          <input
            type="text"
            id="lname"
            name="lastname"
            class="border-b-2 border-green-200 rounded-md h-8"
          />
        </div>
      </div>

      <div class="w-full gap-2">
        <div class="flex flex-col">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            class="border-b-2 border-green-200 rounded-md h-8"
          />
        </div>

        <div class="flex flex-col">
          <label for="subject">Subject</label>
          <select
            id="subject"
            name="subject"
            class="border-b-2 border-green-200 rounded-md h-8 w-full"
          >
            <option value="general">General Inquiries</option>
            <option value="media">Media & PR</option>
            <option value="work">Work with Me</option>
          </select>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <label for="desc">Description</label>
        <textarea
          id="desc"
          name="desc"
          class="border-b-2 border-green-200 rounded-md h-20 w-full"></textarea>
      </div>

      <input
        type="submit"
        value="Submit"
        class="bg-green-200 w-24 rounded-md h-8"
      />
    </form>
  </main>
</BaseLayout>
