---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-full p-6 flex flex-col items-center justify-center h-screen gap-10"
  >
    <div>
      <p
        id="typewriter-line1"
        class="uidesign text-5xl md:text-8xl text-left font-bold tracking-wide min-h-[3rem]"
      >
      </p>

      <p
        id="typewriter-line2"
        class="uidesign text-5xl md:text-8xl text-left indent-8 font-bold tracking-wide min-h-[3rem]"
      >
      </p>
    </div>

    <div class="w-full text-sm flex flex-col gap-10">
      <ul>
        <li>
          <p class="font-light">AREAS</p>
          <p>Graphic Design <br /> UI Design <br /> Brand Identity</p>
        </li>
        <li>
          <p class="font-light">LOCATION</p>
          <p>Périgueux, France</p>
        </li>

        <li>
          <p class="font-light">EDUCATION</p>
          <p>Bachelor’s in Multimedia & Communications</p>
        </li>
      </ul>

      <div class="flex w-full justify-end">
        <p class="text-justify w-3/4">
          I share my creative world and the projects that fuel my passion. With
          a strong love for design and content creation, I bring my expertise to
          those looking to stand out with striking visuals and impactful
          strategies. Whether you're looking for a website, or communication
          guidance, you've come to the right place. Take a look at my work, get
          inspired, and who knows – maybe we'll have the chance to create
          something amazing together!
        </p>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const line1Words = ["UI/UX", "Content", "Brand", "Graphic"];
      const line2Words = ["Designer", "Creator", "Manager", "Designer"];

      const typewriter = (line1, line2, words1, words2) => {
        let wordIndex = 0;
        let charIndex = 0;
        let isDeleting = false;
        let isBottomDeleting = false;

        const type = () => {
          const currentWord1 = words1[wordIndex];
          const currentWord2 = words2[wordIndex];

          if (!isDeleting) {
            if (charIndex <= currentWord1.length) {
              line1.textContent = currentWord1.slice(0, charIndex);
            } else if (charIndex - currentWord1.length <= currentWord2.length) {
              line2.textContent = currentWord2.slice(
                0,
                charIndex - currentWord1.length
              );
            }

            if (charIndex === currentWord1.length + currentWord2.length) {
              setTimeout(() => {
                isDeleting = true;
                isBottomDeleting = true;
              }, 2000);
            }
          } else {
            if (isBottomDeleting && charIndex > currentWord1.length) {
              line2.textContent = currentWord2.slice(
                0,
                charIndex - currentWord1.length - 1
              );
            } else {
              isBottomDeleting = false;
              line1.textContent = currentWord1.slice(0, charIndex);
            }

            if (charIndex === 0) {
              isDeleting = false;
              wordIndex = (wordIndex + 1) % words1.length;
            }
          }

          charIndex += isDeleting ? -1 : 1;
          setTimeout(type, isDeleting ? 50 : 100);
        };

        type();
      };

      const line1 = document.getElementById("typewriter-line1");
      const line2 = document.getElementById("typewriter-line2");

      typewriter(line1, line2, line1Words, line2Words);
    });
  </script>
</BaseLayout>
