---
const today = new Date();
---

<footer
  class="bg-green-200 text-black text-center h-6 p-4 m-0 flex items-center justify-center w-full"
>
  <div class="flex items-center justify-between w-full text-xs">
    <p class="m-0">&copy; {today.getFullYear()} Olivia Joseph.</p>
    <p class="m-0">All rights reserved.</p>
  </div>
</footer>
