---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="px-4 bg-white shadow-[0_4px_8px] min-h-14 shadow-black/20 text-black w-10/12 flex justify-start rounded-xl"
>
  <nav class="flex w-full flex-row items-center justify-between px-6">
    <div
      class="flex items-center w-full md:w-36 md:justify-between gap-16 md:gap-0 shrink-0"
    >
      <div class="items-center justify-center pt-2 md:hidden">
        <button id="burger-menu" class="text-gray-800 focus:outline-none">
          <svg
            width="28"
            height="27"
            viewBox="0 0 28 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="1.92455"
              cy="0.939839"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="14.1936"
              cy="0.939839"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="26.4626"
              cy="0.939839"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="26.4626"
              cy="13.2217"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="14.1936"
              cy="13.2217"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="1.92455"
              cy="13.2217"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="1.92455"
              cy="25.5036"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="14.1936"
              cy="25.5036"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
            <ellipse
              cx="26.4626"
              cy="25.5036"
              rx="0.956774"
              ry="0.934468"
              fill="black"></ellipse>
          </svg>
        </button>
      </div>

      <h2 class="mt-1 text-base">
        <a href="/" class="no-underline text-base font-light text-black"
          >{SITE_TITLE}</a
        >
      </h2>
    </div>

    <div class="hidden md:flex space-x-6">
      <HeaderLink
        style="text-decoration: none !important;"
        href="/"
        class={`flex flex-row items-center justify-center text-center w-32 px-2 py-4 text-black border-b-4 ${
          Astro.url.pathname === "/" ? "border-black" : "border-transparent"
        } `}
      >
        Home
      </HeaderLink>
      <HeaderLink
        style="text-decoration: none !important;"
        href="/blog"
        class={`flex flex-row items-center justify-center text-center px-2 w-32 py-4 text-black border-b-4 ${
          Astro.url.pathname === "/blog" ? "border-black" : "border-transparent"
        } ]`}
      >
        Projects
      </HeaderLink>
      <HeaderLink
        style="text-decoration: none !important;"
        href="/about"
        class={`flex flex-row items-center justify-center text-center w-32 px-2 py-4 text-black border-b-4 ${
          Astro.url.pathname === "/about"
            ? "border-black"
            : "border-transparent"
        }`}
      >
        Contact
      </HeaderLink>
    </div>

    <div
      id="menu"
      class="absolute top-20 left-5 bg-white shadow-lg rounded-lg hidden"
    >
      <a href="/" class="block px-4 py-2 text-black hover:bg-gray-200">Home</a>
      <a href="/blog" class="block px-4 py-2 text-black hover:bg-gray-200"
        >Projects</a
      >
      <a href="/about" class="block px-4 py-2 text-black hover:bg-gray-200"
        >Contact</a
      >
    </div>
  </nav>
</header>

<script>
  const burgerMenu = document.getElementById("burger-menu");
  const menu = document.getElementById("menu");

  burgerMenu.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>
